{% extends "layout.html" %}

{% block scripts %}
{% endblock scripts %}

{% block header %}
<div class="grid_3">
    <h1><a href="/">{{ config.SITE_NAME }}</a></h1>
</div>
<div class="grid_5">
<p>This site is my experimentation lab as I learn about the family of
<!--
<p>HTML5 represents a shift from the desktop as a primary computing
device towards a more ubiquitous mobile computing environment. Eventually devices everywhere will have at their
disposal incredibly powerful User Interfaces that can interact with device sensors 
resulting in a feedback loop that will help accelerate the force of
technology on this planet and beyond.</p>
<p>While many modern mobile devices aren't yet capable of the full range of new technologies
incorporated into the HTML5 umbrella, this site intends to show the power of two
elements: svg and canvas.</p>
-->
technologies included under the <a
    href="http://diveintohtml5.org/introduction.html#one">HTML5 umbrella</a>.</p>
</div>
{% endblock %}

{% block body %}
<div id="holder"></div>
<a href="/svg">SVG</a>
<a href="/canvas">Canvas</a>

{% endblock %}

{% block footer %}
&copy; 2010, {{ config.SITE_NAME }} &bull; <a
    href="http://github.com/cw/HTML5-Hacks/">fork me on github</a>
{% endblock %}
