{% extends "index.html" %}

{% block scripts %}
<script type="text/javascript">
jQuery(document).ready(function () {
    var imgs = [
        {% for puzzle in puzzles %}"http://{{ host }}/img?img_id={{ puzzle.key }}"{% if not forloop.last%},{% endif %}
        {% endfor %}];

    jQuery("#puzzle_image").attr("xlink:href",
        "http://{{ host }}/img?img_id={{ first_puzzle.key }}");

    jQuery(".toggle_row").toggle(
        function () {
            var val = jQuery(this).val();
            jQuery('#[id^=clip' + val +']').hide();
        },
        function () {
            var val = jQuery(this).val();
            jQuery('#[id^=clip' + val +']').show();
        }
    );

    jQuery("#new_puzzle").click(function (evt) {
        var url = "/new_puzzle?img_url=" + jQuery("#image_url").val();
        jQuery.ajax({
            type: "POST",
            url: url,
            complete :function (ahk) {
                //jQuery("#puzzle_image").attr("xlink:href", url);
            }
        });
    });

    jQuery("#cycle_imgs").click(function (evt) {
        imgs.push(imgs.shift());
        jQuery("#puzzle_image").attr("xlink:href", imgs[0]);
    });

    jQuery(".toggle_col").toggle(
        function () {
            jQuery('use[id$=' + jQuery(this).val() +']').hide();
        },
        function () {
            var val = jQuery(this).val();
            jQuery('use[id$=' + jQuery(this).val() +']').show();
        }
    );

    jQuery("[id^=clip]").toggle(
        function (evt) {
            jQuery(this).attr("visibility", "hidden");
        },
        function (evt) {
            jQuery(this).attr("visibility", "visible");
        }
    );
});
</script>
{% endblock scripts %}

{% block body %}
<h4><a href="/">Home</a> &rarr; SVG is a <span class="programmable">programmable</span>
    <span class="graphical">graphical</span> <span class="doc_structure">document structure</span>.</h4>
    <h5>Source file</h5>
<script type="text/javascript" src="https://gist.github.com/918319.js"></script>
<p>Let's break that down.<p>
<dl>
    <dt class="doc_structure">Document structure</dt>
    <dd>The top level &lsaquo;svg&rsaquo;&lsaquo;/svg&rsaquo; element instructs
    the browser to render its contents.</dd>
    <dt class="graphical">Graphical</dt>
    <dd>The contents of an svg element can be graphical elements such as rect,
    circle, arc, line (path) as well as other utility elements such as clip
    paths, gradients, raster images, and definitions for encapsulation and
    reuse. SVG stands for scalable
    vector graphics, and while it does support embedding raster
    images, part of SVG's power comes from being able to scale the vector
    graphics to match arbitrary resolutions.</dd>
    <dt class="programmable">Programmable</dt>
    <dd>Examples: automate interaction with graphics (display a real time analog
    clock), update graphics with data from remote web services (highlight a map
    in real time as users post to twitter).</dd>
</dl>
<h5>Let me demonstrate.</h5>
<p>Click an image below or paste the location of any publicly available image.</p>
<div id="puzzle_thumbs">
{% for puzzle in puzzles %}
{% if puzzle.image.thumb_nail %}<a href="/svg?puzzle_id={{ puzzle.key }}"><img src="/img?img_id={{ puzzle.key }}&thumb=1"></img></a>{% endif %}
{% endfor %}
</div>
<form>
    <input id="image_url" name="q" type="url" placeholder="Enter image URL" value="">
    <input id="new_puzzle" type="button" value="New puzzle from URL">
    <input id="cycle_imgs" type="button" value="Cycle Images">
</form>
<form>
    <label for="toggle_row">Toggle Row</label>
    {% for row in rows %}<input class="toggle_row" type="button" value="{{ row }}">{% endfor %}
    <label for="toggle_col">Toggle Column</label>
    {% for col in cols %}<input class="toggle_col" type="button" value="{{ col }}">{% endfor %}
</form>
{{ svg_text }}
{% endblock %}

