{% extends "index.html" %}

{% block scripts %}
<script type="text/javascript">
jQuery(document).ready(function () {
    var imgs = [
        {% for puzzle in puzzles %}"http://{{ host }}/img?img_id={{ puzzle.key }}"{% if not forloop.last%},{% endif %}
        {% endfor %}];

    jQuery("#puzzle_image").attr("xlink:href",
        "http://{{ host }}/img?img_id={{ first_puzzle.key }}");

    jQuery(".toggle_row").toggle(
        function () {
            var val = jQuery(this).val();
            jQuery('#[id^=clip' + val +']').hide();
        },
        function () {
            var val = jQuery(this).val();
            jQuery('#[id^=clip' + val +']').show();
        }
    );

    jQuery("#new_puzzle").click(function (evt) {
        var url = "/new_puzzle?img_url=" + jQuery("#image_url").val();
        jQuery.ajax({
            type: "POST",
            url: url,
            complete :function (ahk) {
                //jQuery("#puzzle_image").attr("xlink:href", url);
            }
        });
    });

    jQuery("#cycle_imgs").click(function (evt) {
        imgs.push(imgs.shift());
        jQuery("#puzzle_image").attr("xlink:href", imgs[0]);
    });

    jQuery(".toggle_col").toggle(
        function () {
            jQuery('use[id$=' + jQuery(this).val() +']').hide();
        },
        function () {
            var val = jQuery(this).val();
            jQuery('use[id$=' + jQuery(this).val() +']').show();
        }
    );
});
</script>
{% endblock scripts %}

{% block body %}
<h4><a href="/">Home</a> &rarr; SVG is a programmable graphical document structure.</h4>
<h5>Let me demonstrate.</h5>
<div id="puzzle_thumbs">
{% for puzzle in puzzles %}
{% if puzzle.image.thumb_nail %}<a href="/svg?puzzle_id={{ puzzle.key }}"><img src="/img?img_id={{ puzzle.key }}&thumb=1"></img></a>{% endif %}
{% endfor %}
</div>
<form>
    <input id="image_url" name="q" type="url" placeholder="Enter image URL" value="">
    <input id="new_puzzle" type="button" value="New puzzle from URL">
    <input id="cycle_imgs" type="button" value="Cycle Images">
</form>
<form>
    <label for="toggle_row">Toggle Row</label>
    {% for row in rows %}<input class="toggle_row" type="button" value="{{ row }}">{% endfor %}
    <label for="toggle_col">Toggle Column</label>
    {% for col in cols %}<input class="toggle_col" type="button" value="{{ col }}">{% endfor %}
</form>
{{ svg_text }}
{% endblock %}

