{% extends "index.html" %}

{% block scripts %}
<script type="text/javascript">
jQuery(document).ready(function () {
    var imgs = [
        "http://farm5.static.flickr.com/4114/4942943925_ce20e0e3a9_z.jpg",
        "http://farm5.static.flickr.com/4137/4942260322_82f854ba42_z.jpg",
        "http://farm5.static.flickr.com/4127/4972211068_8ea8f14d6f_z.jpg",
        "http://farm5.static.flickr.com/4097/4918183547_bc391b97af_z.jpg",
        "http://farm5.static.flickr.com/4098/4903320116_edb5f56ac7_z.jpg"
    ];
    jQuery("#puzzle_image").attr("xlink:href",
        "http://farm5.static.flickr.com/4114/4942943925_ce20e0e3a9_z.jpg");
    jQuery(".toggle_row").toggle(
        function () {
            var val = jQuery(this).val();
            jQuery('#[id^=' + val +']').hide();
        },
        function () {
            var val = jQuery(this).val();
            jQuery('#[id^=' + val +']').show();
        }
    );
    jQuery("#cycle_imgs").click(function (evt) {
        imgs.push(imgs.shift());
        jQuery("#puzzle_image").attr("xlink:href", imgs[0]);
    });
    jQuery(".toggle_col").toggle(
        function () {
            var val = jQuery(this).val();
            jQuery('#[id$=' + val +']').hide();
            /*
            this.style.display="none";
            var redrawFix = this.offsetHeight;
            this.style.display="block"; // or other value if required
            */
        },
        function () {
            var val = jQuery(this).val();
            jQuery('#[id$=' + val +']').show();
        }
    );
    jQuery("#image_url").change(function (evt) {
        var url = evt.target.value;
        console.log(url);
        jQuery.ajax({
            url: url, 
            complete :function (ahk) {
                jQuery("#puzzle_image").attr("xlink:href", url);
            }
        });
    });
});
</script>
{% endblock scripts %}

{% block body %}
<h4><a href="/">Home</a> &rarr; SVG is a programmable graphical document structure.</h4>
<h5>Let me demonstrate.</h5>
<form>
    <input id="image_url" name="q" type="url" placeholder="Enter image URL"
    value="">
    <input type="button" value="Embed image">
    <input id="cycle_imgs" type="button" value="Cycle Images">
</form>
<form>
    <label for="toggle_row">Toggle Row</label>
    {% for row in rows %}<input class="toggle_row" type="button" value="{{ row }}">{% endfor %}
    <label for="toggle_col">Toggle Column</label>
    {% for col in cols %}<input class="toggle_col" type="button" value="{{ col }}">{% endfor %}
</form>
{{ svg_text }}
{% endblock %}

