{% extends "index.html" %}

{% block scripts %}
<!-- 
almost all of the code on this page started out on http://learningwebgl.com/blog/?p=370 
yes, this is a shameless rip from that very useful site. I plan to tweak and update as I go, 
but there you go. ** full disclosure. **
-->
<script type="text/javascript" src="/static/js/sylvester.js"></script>
<script type="text/javascript" src="/static/js/glUtils.js"></script>

<script id="shader-fs" type="x-shader/x-fragment">
  #ifdef GL_ES
  precision highp float;
  #endif

  varying vec4 vColor;

  void main(void) {
    gl_FragColor = vColor;
  }
</script>

<script id="shader-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;
  attribute vec4 aVertexColor;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;

  varying vec4 vColor;

  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
    vColor = aVertexColor;
  }
</script>

<script type="text/javascript">

function WebGLDemo () {
    var gl,
        shaderProgram,
        shader,
        mvMatrix,
        mvMatrixStack = [],
        pMatrix,
        pyramidVertexPositionBuffer,
        pyramidVertexColorBuffer,
        cubeVertexPositionBuffer,
        cubeVertexColorBuffer,
        cubeVertexIndexBuffer,
        rPyramid = 0,
        rCube = 0,
        lastTime = 0;
}

WebGLDemo.prototype.initGL = function (canvas) {
    try {
      this.gl = canvas.getContext("experimental-webgl");
      this.gl.viewportWidth = canvas.width;
      this.gl.viewportHeight = canvas.height;
    } catch(e) {
    }
    if (!this.gl) {
      alert("Could not initialise WebGL, sorry :-(");
    }
};

WebGLDemo.prototype.getShader = function (id) {
    var shaderScript = document.getElementById(id),
        shader;
    if (!shaderScript) {
      return null;
    }

    var str = "",
        k = shaderScript.firstChild;

    while (k) {
      if (k.nodeType == 3) {
        str += k.textContent;
      }
      k = k.nextSibling;
    }

    if (shaderScript.type == "x-shader/x-fragment") {
      shader = this.gl.createShader(this.gl.FRAGMENT_SHADER);
    } else if (shaderScript.type == "x-shader/x-vertex") {
      shader = this.gl.createShader(this.gl.VERTEX_SHADER);
    } else {
      return null;
    }

    this.gl.shaderSource(shader, str);
    this.gl.compileShader(shader);

    if (!this.gl.getShaderParameter(shader, this.gl.COMPILE_STATUS)) {
      alert(this.gl.getShaderInfoLog(shader));
      return null;
    }

    return shader;
};

WebGLDemo.prototype.initShaders = function () { 
    console.log("about to initShaders");
    var fragmentShader = this.getShader(this.gl, "shader-fs"),
        vertexShader = this.getShader(this.gl, "shader-vs");

    this.shaderProgram = this.gl.createProgram();
    this.gl.attachShader(this.shaderProgram, vertexShader);
    this.gl.attachShader(this.shaderProgram, fragmentShader);
    this.gl.linkProgram(this.shaderProgram);

    console.log("after linking this.shaderProgram");

    if (!this.gl.getProgramParameter(this.shaderProgram, this.gl.LINK_STATUS)) {
      alert("Could not initialise shaders");
    }

    this.gl.useProgram(this.shaderProgram);

    this.shaderProgram.vertexPositionAttribute = this.gl.getAttribLocation(this.shaderProgram, "aVertexPosition");
    this.gl.enableVertexAttribArray(this.shaderProgram.vertexPositionAttribute);

    this.shaderProgram.vertexColorAttribute = this.gl.getAttribLocation(this.shaderProgram, "aVertexColor");
    this.gl.enableVertexAttribArray(this.shaderProgram.vertexColorAttribute);

    this.shaderProgram.pMatrixUniform = this.gl.getUniformLocation(this.shaderProgram, "uPMatrix");
    this.shaderProgram.mvMatrixUniform = this.gl.getUniformLocation(this.shaderProgram, "uMVMatrix");
};

WebGLDemo.prototype.mvPushMatrix = function (m) {
    if (m) {
      this.mvMatrixStack.push(m.dup());
      this.mvMatrix = m.dup();
    } else {
      this.mvMatrixStack.push(this.mvMatrix.dup());
    }
};

WebGLDemo.prototype.mvPopMatrix = function () {
    if (this.mvMatrixStack.length == 0) {
      throw "Invalid popMatrix!";
    }
    this.mvMatrix = this.mvMatrixStack.pop();
    return this.mvMatrix;
};

WebGLDemo.prototype.loadIdentity = function () {
    this.mvMatrix = Matrix.I(4);
};

WebGLDemo.prototype.multMatrix = function (m) {
    this.mvMatrix = this.mvMatrix.x(m);
};

WebGLDemo.prototype.mvTranslate = function (v) {
    var m = Matrix.Translation($V([v[0], v[1], v[2]])).ensure4x4();
    this.multMatrix(m);
};

WebGLDemo.prototype.mvRotate = function (ang, v) {
    var arad = ang * Math.PI / 180.0,
        m = Matrix.Rotation(arad, $V([v[0], v[1], v[2]])).ensure4x4();
    this.multMatrix(m);
};

WebGLDemo.prototype.perspective = function (fovy, aspect, znear, zfar) {
    this.pMatrix = this.makePerspective(fovy, aspect, znear, zfar);
};

WebGLDemo.prototype.setMatrixUniforms = function () {
    console.log("setMatrixUniforms");
    this.gl.uniformMatrix4fv(this.shaderProgram.pMatrixUniform, false, new Float32Array(this.pMatrix.flatten()));
    this.gl.uniformMatrix4fv(this.shaderProgram.mvMatrixUniform, false, new Float32Array(this.mvMatrix.flatten()));
};

WebGLDemo.prototype.initBuffers = function () {
    console.log("initBuffers");
    this.pyramidVertexPositionBuffer = this.gl.createBuffer();
    this.gl.bindBuffer(gl.ARRAY_BUFFER, this.pyramidVertexPositionBuffer);
    var vertices = [
        // Front face
         0.0,  1.0,  0.0,
        -1.0, -1.0,  1.0,
         1.0, -1.0,  1.0,
        // Right face
         0.0,  1.0,  0.0,
         1.0, -1.0,  1.0,
         1.0, -1.0, -1.0,
        // Back face
         0.0,  1.0,  0.0,
         1.0, -1.0, -1.0,
        -1.0, -1.0, -1.0,
        // Left face
         0.0,  1.0,  0.0,
        -1.0, -1.0, -1.0,
        -1.0, -1.0,  1.0
    ];
    this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(vertices), this.gl.STATIC_DRAW);
    this.pyramidVertexPositionBuffer.itemSize = 3;
    this.pyramidVertexPositionBuffer.numItems = 12;

    this.pyramidVertexColorBuffer = this.gl.createBuffer();
    this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.pyramidVertexColorBuffer);
    var colors = [
        // Front face
        1.0, 0.0, 0.0, 1.0,
        0.0, 1.0, 0.0, 1.0,
        0.0, 0.0, 1.0, 1.0,
        // Right face
        1.0, 0.0, 0.0, 1.0,
        0.0, 0.0, 1.0, 1.0,
        0.0, 1.0, 0.0, 1.0,
        // Back face
        1.0, 0.0, 0.0, 1.0,
        0.0, 1.0, 0.0, 1.0,
        0.0, 0.0, 1.0, 1.0,
        // Left face
        1.0, 0.0, 0.0, 1.0,
        0.0, 0.0, 1.0, 1.0,
        0.0, 1.0, 0.0, 1.0
    ];
    this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(colors), this.gl.STATIC_DRAW);
    this.pyramidVertexColorBuffer.itemSize = 4;
    this.pyramidVertexColorBuffer.numItems = 12;

    this.cubeVertexPositionBuffer = this.gl.createBuffer();
    this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.cubeVertexPositionBuffer);
    vertices = [
      // Front face
      -1.0, -1.0,  1.0,
       1.0, -1.0,  1.0,
       1.0,  1.0,  1.0,
      -1.0,  1.0,  1.0,

      // Back face
      -1.0, -1.0, -1.0,
      -1.0,  1.0, -1.0,
       1.0,  1.0, -1.0,
       1.0, -1.0, -1.0,

      // Top face
      -1.0,  1.0, -1.0,
      -1.0,  1.0,  1.0,
       1.0,  1.0,  1.0,
       1.0,  1.0, -1.0,

      // Bottom face
      -1.0, -1.0, -1.0,
       1.0, -1.0, -1.0,
       1.0, -1.0,  1.0,
      -1.0, -1.0,  1.0,

      // Right face
       1.0, -1.0, -1.0,
       1.0,  1.0, -1.0,
       1.0,  1.0,  1.0,
       1.0, -1.0,  1.0,

      // Left face
      -1.0, -1.0, -1.0,
      -1.0, -1.0,  1.0,
      -1.0,  1.0,  1.0,
      -1.0,  1.0, -1.0,
    ];
    this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(vertices), this.gl.STATIC_DRAW);
    this.cubeVertexPositionBuffer.itemSize = 3;
    this.cubeVertexPositionBuffer.numItems = 24;

    this.cubeVertexColorBuffer = this.gl.createBuffer();
    this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.cubeVertexColorBuffer);
    var colors = [
          [1.0, 0.0, 0.0, 1.0],     // Front face
          [1.0, 1.0, 0.0, 1.0],     // Back face
          [0.0, 1.0, 0.0, 1.0],     // Top face
          [1.0, 0.5, 0.5, 1.0],     // Bottom face
          [1.0, 0.0, 1.0, 1.0],     // Right face
          [0.0, 0.0, 1.0, 1.0],     // Left face
        ],
        unpackedColors = [],
        i,
        color,
        j;
    for (i in colors) {
      color = colors[i];
      for (j = 0; j < 4; j++) {
        unpackedColors = unpackedColors.concat(color);
      }
    }
    this.gl.bufferData(this.gl.ARRAY_BUFFER, new Float32Array(unpackedColors), this.gl.STATIC_DRAW);
    this.cubeVertexColorBuffer.itemSize = 4;
    this.cubeVertexColorBuffer.numItems = 24;

    this.cubeVertexIndexBuffer = this.gl.createBuffer();
    this.gl.bindBuffer(this.gl.ELEMENT_ARRAY_BUFFER, this.cubeVertexIndexBuffer);
    var cubeVertexIndices = [
      0, 1, 2,      0, 2, 3,    // Front face
      4, 5, 6,      4, 6, 7,    // Back face
      8, 9, 10,     8, 10, 11,  // Top face
      12, 13, 14,   12, 14, 15, // Bottom face
      16, 17, 18,   16, 18, 19, // Right face
      20, 21, 22,   20, 22, 23  // Left face
    ]
    this.gl.bufferData(this.gl.ELEMENT_ARRAY_BUFFER, new Uint16Array(cubeVertexIndices), this.gl.STATIC_DRAW);
    this.cubeVertexIndexBuffer.itemSize = 1;
    this.cubeVertexIndexBuffer.numItems = 36;
};


WebGLDemo.prototype.drawScene = function () {
    console.log("drawScene");
    this.gl.viewport(0, 0, this.gl.viewportWidth, this.gl.viewportHeight);
    this.gl.clear(this.gl.COLOR_BUFFER_BIT | this.gl.DEPTH_BUFFER_BIT);

    perspective(45, this.gl.viewportWidth / this.gl.viewportHeight, 0.1, 100.0);
    this.loadIdentity();

    this.mvTranslate([-1.5, 0.0, -8.0]);

    this.mvPushMatrix();
    this.mvRotate(this.rPyramid, [0, 1, 0]);

    this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.pyramidVertexPositionBuffer);
    this.gl.vertexAttribPointer(this.shaderProgram.vertexPositionAttribute, this.pyramidVertexPositionBuffer.itemSize, this.gl.FLOAT, false, 0, 0);

    this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.pyramidVertexColorBuffer);
    this.gl.vertexAttribPointer(this.shaderProgram.vertexColorAttribute, this.pyramidVertexColorBuffer.itemSize, this.gl.FLOAT, false, 0, 0);

    this.setMatrixUniforms();
    this.gl.drawArrays(this.gl.TRIANGLES, 0, this.pyramidVertexPositionBuffer.numItems);

    this.mvPopMatrix();

    this.mvTranslate([3.0, 0.0, 0.0]);

    this.mvPushMatrix();
    this.mvRotate(this.rCube, [1, 1, 1]);

    this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.cubeVertexPositionBuffer);
    this.gl.vertexAttribPointer(this.shaderProgram.vertexPositionAttribute, this.cubeVertexPositionBuffer.itemSize, this.gl.FLOAT, false, 0, 0);

    this.gl.bindBuffer(this.gl.ARRAY_BUFFER, this.cubeVertexColorBuffer);
    this.gl.vertexAttribPointer(this.shaderProgram.vertexColorAttribute, this.cubeVertexColorBuffer.itemSize, this.gl.FLOAT, false, 0, 0);

    this.gl.bindBuffer(this.gl.ELEMENT_ARRAY_BUFFER, this.cubeVertexIndexBuffer);
    this.setMatrixUniforms();
    this.gl.drawElements(this.gl.TRIANGLES, this.cubeVertexIndexBuffer.numItems, this.gl.UNSIGNED_SHORT, 0);

    this.mvPopMatrix();
};

WebGLDemo.prototype.animate = function () {
    var timeNow = new Date().getTime(),
        elapsed;
    if (this.lastTime !== 0) {
      elapsed = timeNow - this.lastTime;
      this.rPyramid += (90 * elapsed) / 1000.0;
      this.rCube -= (75 * elapsed) / 1000.0;
    }
    this.lastTime = timeNow;
};


WebGLDemo.prototype.tick = function () {
    this.drawScene();
    this.animate();
};

WebGLDemo.prototype.webGLStart = function () {
    var canvas = document.getElementById("3d_boxes");

    this.initGL(canvas);
    console.log("after initGL");
    this.initShaders();
    console.log("after initShaders");
    this.initBuffers();
    console.log("after initBuffers");

    this.gl.clearColor(0.0, 0.0, 0.0, 1.0);

    this.gl.clearDepth(1.0);

    this.gl.enable(gl.DEPTH_TEST);
    this.gl.depthFunc(gl.LEQUAL);

    setInterval(this.tick, 15);
};

jQuery(document).ready(function () {
    var demo = new WebGLDemo();
    demo.webGLStart();
});
</script>
{% endblock scripts %}

{% block body %}
<h4><a href="/">Home</a> &rarr; WebGL brings native 3D to the web.</h4>

<canvas id="3d_boxes" style="border: none;" width="500" height="500"></canvas>

{% endblock %}
